{% extends "main.html" %}
{% block content %}
    {% load static %}
    <input type="hidden" id="foldersHidden"/>
    <section class="container main-container mt-2 mb-3 shadow position-relative">
        <button class="m-btn position-relative" id="filterBtn">
            Filter
            <i class="fa-solid fa-caret-up ms-2" id="filterDivUp" style="display: "></i>
            <i class="fa-solid fa-caret-down ms-2"
               id="filterDivDown"
               style="display: none"></i>
        </button>
        <section id="filterContainer" style="display: none">
            <div class="d-flex justify-content-between mb-3 w-100 mx-auto" id="status-links">
                <a href="?completed">Completed</a>
                <a href="?">All</a>
                <a href="?uncompleted">Uncompleted</a>
            </div>
            <input type="text"
                   class="input-f"
                   id="filterInputTasks"
                   placeholder="Filter tasks"/>
        </section>
    </section>
    <section class="container main-container mt-2 mb-3 shadow position-relative"
             id="mobDiv">
        <button class="m-btn position-relative" id="foldersMobBtn">
            Folders
            <i class="fa-solid fa-caret-up ms-2"
               id="foldersIconUpMob"
               style="display:"></i>
            <i class="fa-solid fa-caret-down ms-2"
               id="foldersIconDownMob"
               style="display: none"></i>
        </button>
        <section id="mob-folders" style="display: none">
            <input type="text"
                   class="input-f"
                   id="filterInputMob"
                   placeholder="Filter folders"/>
            <section class="diff-links-section-mob" id="divContainerMob">
                {% for folder in  todo_folders %}
                    <div class="position-relative">
                        <a href="{% url 'folder_page' folder_name=folder %}" id="folder_{{ folder.id }}"
                           class="filterItem">{{ folder }}</a>
                        <div class="removeFolder"><i class="fa-solid fa-xmark"></i></div>
                    </div>
                {% endfor %}
            </section>
            <div id="linkContainer">
                <input type="text"
                       id="folderCreateInput"
                       name="folderTitle"
                       class="input-f"
                       placeholder="Create Folder"/>
                <button id="addFolderBtn" onclick="addFolderFunction(this)">Add</button>
            </div>
        </section>
    </section>
    <section class="container main-container mt-2 mb-2 shadow position-relative">
        <div class="diff-links-container shadow">
            <div class="diff-links">
                <button class="diff-link-btn" id="folderBtn">
                    <h4 class="text-center">
                        Folders
                        <i class="fa-solid fa-caret-up ms-2" id="foldersIcon" style="display: "></i>
                        <i class="fa-solid fa-caret-down ms-2"
                           id="foldersIcon2"
                           style="display: none"></i>
                    </h4>
                </button>
                <section id="folders" tabindex="0" class="folders-active">
                    <input type="text"
                           class="input-f"
                           id="filterInput"
                           placeholder="Filter folders"/>
                    <section class="diff-links-section" id="divContainer">
                        {% for folder in  todo_folders %}
                            <div class="position-relative">
                                <a href="{% url 'folder_page' folder_name=folder %}" id="folder_{{ folder.id }}"
                                   class="filterItem">{{ folder }}</a>
                                <div class="removeFolder"><i class="fa-solid fa-xmark"></i></div>
                            </div>
                        {% endfor %}
                    </section>
                    <div id="linkContainer">
                        <input type="text"
                               class="input-f"
                               name="folderTitle"
                               id="folderCreateInput2"
                               placeholder="Create Folder"/>
                        <button id="addFolderBtn2" onclick="addFolderFunction(this)" disabled>Add</button>
                        <input type="hidden" id="hFolderInput"/>
                    </div>
                </section>
            </div>
        </div>
        <h3 class="text-center mb-4">{{ folder_name }} plans</h3>
        <form action="{% url 'addTodoInFolder' folder_name=folder_name %}" method="POST" id="addTodoForm">
            {% csrf_token %}
            <div class="todo-add">
                <input type="text" name="todoInput" class="todo-add-text" required/>
                <br/>
                <div class="mob-flex">
                    <input type="datetime-local"
                           id="dtLoc"
                           name="date"
                           value=""
                           min=""
                           class="todo-add-datetime"
                           style="display: none"/>
                    <button class="todo-add-datetime specBtn" style="display: ">Set Until Date</button>
                    <input type="submit" value="Add" class="todo-add-submit"/>
                </div>
            </div>
        </form>
        <section id="itemContainer">
            <section id="paginationContainer">
                {% for todo in todo_list %}
                    <div class="todo-card">
                        <div class="testo">
                            <form action="/api/edit-cb/{{ todo.id }}" method="POST">
                                {% csrf_token %}
                                <input type="checkbox" onclick="checkbox(this)" name="cb" value="{{ todo.id }}"
                                       id="{{ todo.id }}" {% if todo.completed %}checked{% endif %}/>
                                <label for="{{ todo.id }}">Completed</label>
                            </form>
                            {% if todo.until %}
                                <div class="until-div">
                                    <button class="position-relative" onclick="untilDropdown(this)">
                                        Until<i class="fa-solid fa-caret-down mx-2"></i>
                                    </button>
                                    <div class="todo-until shadow" style="display: none">
                                        {{ todo.until_date }}
                                        <br/>
                                        {{ todo.until_time }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="{{ todo.id }}">
                                <button class="btn-dr" onclick="untilDropdown(this)">
                                    <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                                </button>
                                <div class="options shadow" style="display: none">
                                    <span onclick="editTodo(this, {{ todo.id }})"><a id="editBtn">Edit</a></span>
                                    <span onclick="fetchFolders({{ todo.id }})"><a id="addToFolderBtn">Add to Folder</a></span>
                                    <span onclick="toDelete(this, {{ todo.id }})"><a id="deleteBtn">Delete</a></span>
                                </div>
                            </div>
                        </div>
                        <p class="my-auto">{{ todo.title }}</p>
                    </div>
                {% endfor %}
            </section>
        </section>
    </section>
    <script src="{% static 'js/main.js' %}" type="module"></script>


    {% comment %} <form action="" method="POST">
    {% csrf_token %}
    <div class="editTodoContainer">
        <div class="textTodoContainer">
            <div class="closeDiv"><i class="fa-solid fa-xmark"></i></div>
            <textarea name="editTodo" id="" cols="30" rows="10"></textarea>
            <input type="hidden" name="id">
            <div class="btnIn">
                <button>Save</button>
            </div>
        </div>
    </div>
</form> {% endcomment %}

{% endblock content %}
