{% extends 'main.html' %}
{% block content %}
  {% load static %}
  <section class="login-container shadow">
    <section id="loginForm">
      <form action="" method="post">
        {% csrf_token %}
        <div class="login-div">
          <span>Don't have an account? <a href="{% url 'login2' "register" %}" id="regBtn" class="h-btn ms-2">Sign Up</a></span>
          <br />

          <h4>Restore your password</h4>
          <div class="sm">
            <label for="username-login" class="i-div"><i class="fa-solid fa-circle-user fa-xl"></i></label>
            <input type="text" name="email" id="username-login" placeholder="Enter your email">
            {% comment %} {{form.username}} {% endcomment %}
          </div>
          <div id="error-div-log">
            {% if login_errors %}
            <span>{{login_errors}}</span>
            {% endif %}
          </div>

          <button type="submit" class="continue-btn mx-auto">Continue</button>
        </div>
        <span>Remembered your <a href="{% url 'login' %}">password</a>?</span>
        
      </form>
    </section>
    <!-- register form -->
    <section id="registerForm"  class="hidden">
      <form action="" method="post">
        {% csrf_token %}
        <div class="login-div">
            <span>Don't have an account? <a href="{% url 'login2' "register" %}" id="regBtn" class="h-btn ms-2">Sign Up</a></span>
            <br />

          <h4>Restore your password</h4>
          <div class="sm">
            <label for="id_email" class="i-div"><i class="fa-solid fa-envelope fa-xl"></i></label>
            <input type="email" name="restoreEmail" id="id_email" placeholder="Email">

          </div>
          <div class="sm">
            <label for="password" class="i-div"><i class="fa-solid fa-circle-user fa-xl"></i></label>
            <input type="password" name="restorePassword" id="password" placeholder="Password">
          </div>
          <div class="sm">
            <label for="restoreCode" class="i-div"><i class="fa-solid fa-key fa-flip-horizontal fa-xl"></i></label>
            <input type="text" name="restoreCode" id="restoreCode" placeholder="Code">
          </div>

          <div id="error-div-reg">
            {% if reg_errors %}
            <span>{{reg_errors}}</span>
            {% endif %}
            {% if messages %}
            {% for message in messages %}
            {{message}}
            {% endfor %}
            {% endif %}
          </div>

          <div id="error-div">
            
          </div>

          <button class="mx-auto continue-btn">Change password</button>
        </div>
        
      </form>
    </section>
  </section>
  <script src="{% static 'js/restore.js' %}"></script>
{% endblock %}
