<nav class="nav-background">
  <div class="nav-bar">
    <div class="nav-logo h-100">
      <a href=""
        ><img
          src="https://previews.dropbox.com/p/thumb/AB980wS656vmj0Qd7OhWVC8qjug5e28dffdtLur-E_QV-DRwQ6B0SFQnw4IfHS882XBLWyOMq6Vhn7PcIH7HD5XyzYz34r0lySkLM4yMhKt9gtTP0cJfU1Ju6gI0lF7nahAPccDU3h1NRBjuyjaXbbSbekqBeh1Rrq-LlnUNyWzGSqvU8XyRpJynsrrpCIba94NVt4g6QTKB6c9kKYYNRqcVb_GndDJcvGEZq8m0U6sHP-BaExQcGp-xnVaqWCMOjJ4RW-dV3g_9mFncOtFLQPHMInKu8oQ11AkC9v_KaOdaEb615AUVj_DrdtniDawXw7jQzmxGH3oDRrQV4STzN-uVUWC6UgKA3U6HCWmLVw9yO7KMwQBkkMzzHMvbHlTl7YI/p.png"
          alt=""
      /></a>
    </div>
    <h4 class="username">Username</h4>
    <div class="nav-links">
      <a href="">Login</a>
      <a href="">Log Out</a>
    </div>
  </div>
</nav>
